.lista-component{
    background-color: #101010;
    margin-left: 290px;
    h1{
        padding: 24px 0px;
        color: blue;
    }
    }

    .lista-jogos{
        list-style: none;
    }

    .grid-jogos{
        display: flex;
        flex-wrap: wrap;
        gap: 90px;
        list-style: none;
    }

    .initial-title{
        color: blue;
    }
    .text-list{
        padding-left: 24px;
        border: 0.5px solid;
        border-color: rgb(63, 62, 62);
        border-radius: 0px 12px 12px 0px;
        width: 250px;
        display: block;
        background-color: #151515;
    }
    .categories{
        color:        rgba(255, 255, 255, 0.2);
        display: flex;
        gap: 12px;
    }
